body {margin: 0;padding: 0;box-sizing: border-box;background-color: #e9e9e9;}

.div--img {position: fixed;top: 60px;height: auto;z-index: -10;filter:opacity(80%)}
.div--img .img--girl {display: flex;width: 100%;height: auto;object-fit: cover;opacity: 0.8;}

header {position: absolute;top: 0px;width: 100vw;margin: auto;}
header nav ul {margin: auto;display: flex;justify-content: right;
	background: linear-gradient(90deg,slateblue 20%, #fff 50%, slateblue 70%);
	box-shadow: 0px 0px 10px slateblue;}
header > nav > ul > li {display: inline-block;margin: 10px 20px;padding: 10px 20px;border: 1px solid #ccc;
	border-radius: 7px;}
header nav ul a {color: #fff;}

h1 {margin-top: 80px;margin-left: 20px;color: slateblue;}
h2 {margin: auto;color: royalblue;}
h3 {color: slateblue;}
h4 {color: dodgerblue;}
h4 > a:hover {color: royalblue;}
h5 {margin: 20px;color: #444;}
hr {color: aqua;border-top: 1px solid dodgerblue;border: none;border-bottom: 1px solid dodgerblue;}
p {margin: 5px 0px;}
a {text-decoration: none;}

/*home*/
.home--div {display: flex;flex-direction: row;justify-content: space-between;}
.home--div .home--subdiv {margin: 0px 40px;}
.home--div .sec--div {position: fixed;right: 0px;margin-top: 0px;margin-right: 40px;width: 160px;
	height: 140px;background-color: #fff;border-radius: 7px;box-shadow: 0px 0px 7px #ccc;}
.home--div .home--subdiv .id--title {display: flex;align-items: center;font-weight: 600;}
.home--div .home--subdiv .id--title p {margin-right: 10px;color: royalblue;}
.home--div .home--subdiv .id--title a {font-size: 1.2rem;font-weight: 600;color: royalblue;}
.home--div .home--subdiv .id--title a:hover {color: aqua;}
.home--div .home--subdiv .div--boxtext {margin: 5px 10px;}
.home--div .home--subdiv .div--boxtext .p--extract {color: slateblue;}
.home--div .home--subdiv .div--boxtext .p--extract:hover {color: aqua;}

/*Categorie*/
.box--fontcolor {color: slateblue;}
.box--fontcolor:hover {color: royalblue;}
.categorie--div {display: flex;flex-direction: row;justify-content: space-between;}
.categorie--div .categorie--subdiv {width: 400px;margin: 0px 40px;}
.categorie--div .sec--categorie--div {width: 160px;height: 140px;background-color: #fff;
	border-radius: 7px;box-shadow: 0px 0px 10px #ccc;}

/*Article*/
.div--article {margin: 0px 40px;}
.p--content {margin: 10px 0px;color: #333;}
.p--date {margin-bottom: 20px;color: #777;}

/*Form*/
.div--form {margin: 0px 40px;}
.div--form form {width: 200px;margin:auto; padding: 10px 20px;background-color: #fff;border-radius: 7px;
	box-shadow:0px 0px 7px #777;}
.div--form form input {margin: 10px 0px;padding: 3px 7px;}
.div--form form button {background-color: slateblue;border: 1px solid slateblue;border-radius: 7px;
	color: #f5f5f5;margin: 10px 0px;padding: 10px 20px;}
.div--form form button:hover {background-color: lightsteelblue;color: #333;}
.div--form form button:active {background-color: orange;color: #f5f5f5;transform: scale(0.95);}

/*Links of bottom pages*/
.div--gohomesub {margin: 0px 40px;margin-bottom: 100px;}
.p--gohomesub {margin: 10px 0px;color: slateblue;}
.p--gohomesub a:hover {color: aqua;}

/*Contact*/
.div--contact {display: flex;justify-content: center;margin-top: 7%;}
.div--contact .subdiv--contact {width: 300px;background-color: #fff;border-radius: 7px;
	box-shadow: 0px 0px 7px #777;padding: 10px 20px;
}
.subdiv--contact .div--pcontact {display: flex;}
.subdiv--contact .div--pcontact:nth-child(1n + 1) {background-color: #f5f5f5;}
.subdiv--contact .div--pcontact:nth-child(1n + 1) > p {padding: 3px 5px;}
.subdiv--contact .div--pcontact:nth-child(2n + 2) {background-color: lightsteelblue;}

.li {margin: 10px 0px;list-style: circle;color: slateblue;}

footer {position:fixed;bottom:0px;width:100%;height:auto;display:flex;
	align-items: center;justify-content: right;
	background: linear-gradient(90deg,slateblue 20%, #fff 50%, slateblue 70%);
	border: none;
	outline: none;box-shadow: 0px 0px 10px slateblue;}
footer > nav > ul li {display: inline-block;align-items: center;margin:0px 20px;
	border: 1px solid #ccc;border-radius: 7px;padding: 10px 20px;}
footer nav ul a {color: #f5f5f5;}
footer nav ul a:hover {color: orange;}